body{
background: transparent url("https://blog-imgs-112.fc2.com/s/h/i/shimamaronn/Hanagawa1-2.jpg")
fixed;
background-size:100% 100%;
margin:0;

}

header{
background:#fff;
}

@media only screen and (min-width: 641px) {
div.wrap{
    display:block;
    width:60%;
    margin-left: 20%;
    overflow: hidden;
}
}


h1,h2{
text-align:center;
margin:0 auto;
padding:10px;
}

h1{ font-weight:normal; }

span{
color:#FF1493; /* �s���N */
font-family:"Meiryo";
}

.pad{ padding:10px; }/* ����j�b�N�l�[���̘b�̗]�� */

p.indent-1{ /* ����̎�������CSS */
padding-left:1em;
text-indent:-1em;
}

table{ /* �e�[�u���̕� */
width:640px;
margin:50px auto; /* �㉺20px�]���Ƃ��āA�Z���^�����O */
}

@media only screen and (max-width: 640px) { /* �X�}�z�p */


body{


background:url(https://blog-imgs-112.fc2.com/s/h/i/shimamaronn/Hanagawa1-2.jpg) fixed;
background-position: 50% 50%;
background-size:cover 100%;

/*
background-image: url(https://blog-imgs-112.fc2.com/s/h/i/shimamaronn/Hanagawa1-2.jpg);
background-position: 50% 50%;
background-size: 100% 50%;
*/

margin:0;

}

table{
width:100%;
}

th,td{
display:block;
width:auto;
}

/*
td{ width:auto; }
*/

}

td.none{
border-style:none; /* �摜�̃Z���͘g������ */
text-align:center; /* �摜�̃Z���^�����O */
}

td{
background:rgba(255,255,255,0.8);
/*
opacity:0.8;
filter: alpha(opacity=80);        /* ie lt 8 */
-ms-filter: "alpha(opacity=80)";  /* ie 8 */
-moz-opacity:0.8;                 /* FF lt 1.5, Netscape */
-khtml-opacity: 0.8;              /* Safari 1.x */
zoom:1;
*/
border: 1px solid #bbb;
padding:5px;
}

th{
background:rgba(0,0,255,0.8);
color:#fff;
border: 1px solid #bbb;
padding:5px;
}

@media only screen and (min-width: 641px) {
th{
width:160px;
}
}

img{
width: 300px;
height: 300px;
vertical-align:bottom;
}
